<?php
    $this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-datetimepicker.css" );
?>
<script src="/snep/includes/javascript/moment-with-locales.min.js" type="text/javascript" ></script>
<script src="/snep/includes/javascript/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<div class="row">

    <div class="tab-content">
            <div class="tab-pane active" id="demo">
                <?php if($this->key){ ?>
                    <div class="snep-body-top-buttons">
                        <div class="snep-body-search">
                            <?php if($this->key){ 
                                echo ""; 
                                ?>
                                <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>  
                            <?php } ?>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </div>

    <form id="defaultForm" method="post" class="form-horizontal" style="margin-top: 0px;" action="<?php echo $this->url(array("controller" => "services-report", "action" => "index"), null, true); ?>" METHOD="post">
        
        <fieldset>
            <legend><?php echo $this->translate("Period");?></legend>
            
            <div class="form-group">
                <label class="col-sm-2 control-label"><?php echo $this->translate("From");?></label>
                <div class="col-sm-3">
                    <div class='input-group'>
                        <input type='text' class="snep-datetimepicker form-control" id='init_day' name="init_day" required/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-2 control-label"><?php echo $this->translate("To");?></label>
                <div class="col-sm-3">
                    <div class='input-group'>
                        <input type='text' class="snep-datetimepicker form-control" id='till_day' name="till_day" required/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        
                    </div>
                </div>
            </div>

        </fieldset>
        
        <fieldset>
            <legend><?php echo $this->translate("Extensions");?></legend>

            <div class="form-group">
                <label class="col-sm-2 control-label"><?php echo $this->translate("Group");?></label>
                <div class="col-sm-4">
                    <select class="form-control" name="group_select" id="group_select" onChange="checkgroup(this.value);">
                        <?php 
                        foreach($this->group as $key => $group){ ?>
                            <option><?php echo $group?></option>
                        <?php } ?>
                    </select>
                </div>
            </div> 

            <div class="form-group">
                <label class="col-sm-2 control-label"><?php echo $this->translate("Extensions");?></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="exten_select" id="exten_select" placeholder='<?php echo $this->translate("Separated by a comma")?>' />
                </div>
            </div>   


        </fieldset>
        
        <fieldset>
            
            <legend><?php echo $this->translate("Services");?></legend>

            <div class="form-group">
                <label class="col-sm-2 control-label"><?php echo $this->translate("Choose the services")?></label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="serv_select[SIGAME]" id="serv_select[SIGAME]" checked/><?php echo $this->translate("SIGAME")?>
                        </label>
			&nbsp;&nbsp;
                        <label>
                            <input type="checkbox" name="serv_select[DND]" id="serv_select[DND]" checked/><?php echo $this->translate("DND")?>
                        </label>
			&nbsp;&nbsp;
                        <label>
                            <input type="checkbox" name="serv_select[LOCK]" id="serv_select[LOCK]" checked/><?php echo $this->translate("Lock")?>
                        </label>
			&nbsp;&nbsp;
                        <label>
                            <input type="checkbox" name="serv_select[SPY]" id="serv_select[SPY]" checked/><?php echo $this->translate("Spy")?>
                        </label>
			&nbsp;&nbsp;
                        <label>
                            <input type="checkbox" name="serv_select[REDIAL]" id="serv_select[REDIAL]" checked/><?php echo $this->translate("Redial")?>
                        </label>
			&nbsp;&nbsp;
                        <label>
                            <input type="checkbox" name="serv_select[WHOAMI]" id="serv_select[WHOAMI]" checked/><?php echo $this->translate("WhoAmI")?>
                        </label>
			&nbsp;&nbsp;
                        <label>
                            <input type="checkbox" name="serv_select[REC]" id="serv_select[REC]" checked/><?php echo $this->translate("Record")?>
                        </label>
			&nbsp;&nbsp;
                        <label>
                            <input type="checkbox" name="serv_select[RECPLAY]" id="serv_select[RECPLAY]" checked/><?php echo $this->translate("Record Play")?>
                        </label>
                    </div>
                </div>
            </div>
        </fielset>

        <br>
         <div class="snep-body-footer-buttons">
            <button type="submit" class="btn btn-add" name="showreport" value="showreport"><?php echo $this->translate("Show Report");?></button>
        </div>

    </form>
</div>

<script type="text/javascript">

jQuery.noConflict();
jQuery(function () {
    
    jQuery('#init_day,#till_day').datetimepicker({
        locale: "<?php echo $this->datepicker_locale; ?>",
        sideBySide: true,
        showClear: true,
        showClose: true
    });

    jQuery("#init_day").on("dp.change",function (e) {
        jQuery('#till_day').data("DateTimePicker").minDate(e.date);
    });

    jQuery("#till_day").on("dp.change",function (e) {
        jQuery('#init_day').data("DateTimePicker").maxDate(e.date);
    });
});

function checkgroup(value){
    
    if(value != 0){   
        document.getElementById("exten_select").setAttribute("disabled", true);
    }else{
        document.getElementById("exten_select").removeAttribute("disabled");
    }
}

</script>
